{% extends 'front/master.html' %}
{% load static %}
{% block head%}

<!DOCTYPE html>
<html>
<head>
<title>{% block title%}{{ title }}{% endblock %}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="  {% block keywords%}Grocery Store Responsive web template  {% endblock%}, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta name="description" content="{% block description%}  anasayfa {% endblock%}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static  'front/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static  'front/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static  'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static  'front/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript"src="{% static  'front/js/move-top.js' %}"></script>
<script type="text/javascript"src="{% static  'front/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

{% endblock%}

{% block mainblock%}
    <div class="container">

	<div class="row">
     <div class="col-xl-4 col-lg-6">
 <form action="{% url 'orderProduct' %}"  ENCTYPE="multipart/form-data" method="POST" id="">
						 {% csrf_token %}

 <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label"> First name </label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" name="name" id="keywords" class="form-control" value="{{ profile.user.username }}">
            <small class="form-text text-muted"></small>
        </div>
    </div>


   <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label"> Last name </label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" name="last_name" id="keywords" class="form-control" value="{{ profile.user.last_name }}">
            <small class="form-text text-muted"></small>
        </div>
    </div>
     <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label"> Address </label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" name="address" id="keywords" class="form-control" value="{{ profile.address }}">
            <small class="form-text text-muted"></small>
        </div>
    </div>



 <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label"> City </label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" name="city" id="keywords" class="form-control" value="{{ profile.city }}">
            <small class="form-text text-muted"></small>
        </div>
    </div>


    <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label">Country</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" name="country" id="keywords" class="form-control" value="{{ profile.country }}">
            <small class="form-text text-muted"></small>
        </div>
    </div>



    <div class="row form-group">

        <div class="col col-md-3">
            <label for="title" class=" form-control-label">Phone</label>
        </div>
        <div class="col-12 col-md-9">
            <input class="form-control" id="product_description" value="{{ profile.phone }}" name="phone">
             <script>
                        CKEDITOR.replace( 'product_description' );
                </script>

        </div>
    </div>




    <div>
        <input type="submit" class="btn btn-primary floatright" value="add">
    </div>
    <div style="clear: right;"></div>
    <br>
</form>
     </div>
    </div>
 </div>

{% endblock %}