{% extends 'front/UserPage.html' %}


{% block userPage %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    jQuery(document).ready(function(){


	// Show password Button
	$("#showpassword").on('click', function(){

		var pass = $("#password");
		var fieldtype = pass.attr('type');
		if (fieldtype == 'password') {
			pass.attr('type', 'text');
			$(this).text("Hide Password");
		}else{
			pass.attr('type', 'password');
			$(this).text("Show Password");
		}


	});





});

    </script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-8">
			<!-- Start form -->
            <form action="{% url 'userChangePassword'  %}" class="dropzone dropzone-custom needsclick add-professors"  ENCTYPE="multipart/form-data" method="POST" id="">
                         {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Current Password</label>
                        <input type="password" class="form-control" id="exampleInputEmail1"  name="oldpassword" value="" aria-describedby="emailHelp" placeholder=" Enter Current Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1"> New Password</label>
                        <input type="password" class="form-control" name="newpassword"  id="password" placeholder="Password">
                         </div>
                        <div class="form-group">

                        </div>
                      <div class="form-check">
                        <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>

                    </form>


			<!-- End form -->
		</div>



	</div>
</div>

{% endblock %}